
.side-nav-cntr{
    border: 1px solid lightgray;
    height: 99vh;
    padding: 1.5rem 2rem;
}

.side-nav-item-cntr{
    text-align: left;
    padding: 1rem;
}

.temp-logo{
    height: 10%;
    border-bottom: 1px solid black;
}

.side-nav-label{
    display: inline-block;
    margin-left: 2rem;
}

.material-icons{
    position: relative;
    top: 7px;
}

a:active{
    
}

ul:hover{
    color: blue;
}